{% for obj in page_obj %}    
<div class="products-row" onclick="toggleDetails(this)">
  <div class="product-cell">
    <span>
      {% if period == 'today' or period == 'yesterday' %}
          {{ obj.car.id_car }}
        {% elif period == '7days' or period == '30days' %}
          {{ obj.car_name }}
      {% endif %}
    </span>
  </div>
  <div class="product-cell product-cell-row">
    <div class="chart">
      <div class="one">{{ obj.tekushchaya_nagruzka|floatformat:"0" }}</div>
      <div class="two">{{ obj.kolichestvo_reisov|floatformat:"0" }}</div>
      <div class="three">{{ obj.ostatok_na_tekushchii_moment|floatformat:"0" }}</div>
    </div>
    <div class="chart_nums">
      {% if period == 'today' and time_since_start %}
        <div class="time-since-start">{{ time_since_start }}</div>
      {% endif %}
      <div class="chart_nums_red">{{ obj.tekushchaya_nagruzka|floatformat:"0" }}</div>
      <div class="chart_nums_green">{{ obj.kolichestvo_reisov|floatformat:"0" }}</div>
      <div class="chart_nums_blue">{{ obj.ostatok_na_tekushchii_moment|floatformat:"0" }}</div>
    </div>
  </div>
  <div class="product-cell">
    <a>{{ obj.probeg_za_period|floatformat:2 }} км.</a>
  </div>
  <div class="product-cell">
    <span>{{ obj.raskhod_za_period|floatformat:2 }} литров</span>
  </div>
  <div class="product-cell">
    <span>{{ obj.kolichestvo_reisov|floatformat:2 }} рейсов</span>
  </div>
  <div class="product-cell">
    <span>{{ obj.summarnii_ves_za_period|floatformat:2 }} тонн</span>
  </div>
  <div class="product-cell">
    <span>{{ obj.raskhod_privedennii_g_t_km_za_period|floatformat:2 }} г/т/км</span>
  </div>
</div>
<div class="details" style="display: none;">
  <div class="product-cell">
    <div>-</div>
  </div>
  <div class="product-cell">
    <div>-</div>
  </div>
  <div class="product-cell">
    <div class="in_cell">
      <div>Поездок за период: {{ obj.kolichestvo_poezdok_za_period|floatformat:2 }}</div>
    </div>
  </div>
  <div class="product-cell">
    <div class="in_cell">
      <div>За поездку: {{ obj.raskhod_za_poezdku|floatformat:2 }}</div>
      <div>На хх за период: {{ obj.raskhod_na_khkh_za_period|floatformat:2 }}.</div>
      <div>Под нагрузкой: {{ obj.raskhod_pod_nagruzkoi_za_period|floatformat:2 }}.</div>
      <div>В пути: нет данных</div>
      <div>Заправки: нет данных</div>
    </div>
  </div>
  <div class="product-cell">
    <div class="in_cell">
      <div>Min рейсов: нет данных</div>
      <div>Max рейсов: нет данных</div>
      <div>Среднее кол-во: {{ obj.kolichestvo_poezdok_za_period|floatformat:2 }}</div>
    </div>
  </div>
  <div class="product-cell">
    <div class="in_cell">
      <div>Min вес: {{ obj.min_ves_za_period|floatformat:2 }}</div>
      <div>Max вес: {{ obj.max_ves_za_period|floatformat:2 }}</div>
      <div>Средний: {{ obj.srednii_ves_reisa_za_period|floatformat:2 }}</div>
    </div>
  </div>
  <div class="product-cell">
    <div>-</div>
  </div>
</div>
{% endfor %}

{% include 'includes/paginator/paginator.html' %}
