{% for id, fuel, mileage in page_obj %}    
<div class="products-row" onclick="toggleDetails(this)">
  <div class="product-cell"><span>{{ id }}</span></div>
  <div class="product-cell">
    <div class="chart">
      <div class="one">80</div>
      <div class="two">70</div>
      <div class="three">50</div>
  </div>
  </div>
  <div class="product-cell"><span>{{ mileage }} км.</span></div>
  <div class="product-cell"><span>{{ fuel }} литров</span></div>
  <div class="product-cell"><span>позже рейсов</span></div>
  <div class="product-cell"><span>позже тонн</span></div>
  <div class="product-cell"><span>позже г/т/км</span></div>
</div>
<div class="details" style="display: none;">Дополнительная информация о автомобиле</div>
{% endfor %}

<div class="pagination">
  <span class="step-links">
      {% if page_obj.has_previous %}
          <a href="?page=1">&laquo; Первая</a>
          <a href="?page={{ page_obj.previous_page_number }}">Предыдущая</a>
      {% endif %}

      <span class="current">
          Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}.
      </span>

      {% if page_obj.has_next %}
          <a href="?page={{ page_obj.next_page_number }}">Следующая</a>
          <a href="?page={{ page_obj.paginator.num_pages }}">Последняя &raquo;</a>
      {% endif %}
  </span>
</div>

