{% extends "cars/base.html" %}

{% load static %}

{% block content %}
  {% include 'includes/sidebar.html' %}
    <div class="app-content">
      <div class="app-content-header">
        <h1 class="app-content-headerText">МАШИНЫ</h1>
        <button class="mode-switch" title="Switch Theme">
          <svg class="moon" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" width="24" height="24" viewBox="0 0 24 24">
            <defs></defs>
            <path d="M21 12.79A9 9 0 1111.21 3 7 7 0 0021 12.79z"></path>
          </svg>
        </button>
        <!-- <button class="app-content-headerButton">Add Product</button> -->
      </div>
      {% include 'includes/filter_actions.html' %}
      <div class="products-area-wrapper tableView">
        <div class="products-header">
          <div class="product-cell icon-svg">
            ТРАНСПОРТ
            <img src="{% static 'img/van.svg' %}">
          </div>
          <div class="product-cell second-cell">
            <div class="color-box-row">
              <div class="color-box color-box-red"></div><div class="">ВЕС</div>
            </div>
            <div class="color-box-row">
              <div class="color-box color-box-green"></div><div class="">ТОПЛИВО</div>
            </div>
            <div class="color-box-row">
              <div class="color-box color-box-blue"></div><div class="">РЕЙСЫ</div>
            </div>
          </div>
          <div class="product-cell icon-svg">
            ПРОБЕГ
            <img src="{% static 'img/map.svg' %}">
          </div>
          <div class="product-cell icon-svg">
            РАСХОД/ОСТАТОК ТОПЛИВА
            <img src="{% static 'img/fuel.svg' %}">
          </div>
          <div class="product-cell icon-svg">
            РЕЙСЫ/ПОЕЗДКИ
            <img src="{% static 'img/way.svg' %}">
          </div>
          <div class="product-cell icon-svg">
            ВЕС
            <img src="{% static 'img/weight.svg' %}">
          </div>
          <div class="product-cell icon-svg">
            ПРОИЗВОДИТЕЛЬНОСТЬ
            <img src="{% static 'img/clock.svg' %}">
          </div>
        </div>
      {% include 'includes/cars_feed.html' %}
      </div>
    </div>
{% endblock %}
