{% extends "cars/base.html" %}

{% load static %}

{% block content %}
{% include 'includes/sidebar.html' %}
<div class="app-content">
  <div class="app-content-header">
    <h1 class="app-content-headerText">Настройки</h1>
    <button class="mode-switch" title="Switch Theme">
      <svg class="moon" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" width="24" height="24" viewBox="0 0 24 24">
        <defs></defs>
        <path d="M21 12.79A9 9 0 1111.21 3 7 7 0 0021 12.79z"></path>
      </svg>
    </button>
  </div>
  {% include 'includes/filter_actions.html' %}
  <div class="setting_field">
    <h2>Установить план</h2>
    <form method="post" class="settings-form">
      {% csrf_token %}
      <div class="form-group">
        <label for="{{ form_plan.field_name.id_for_label }}">Поле 1</label>
        {{ form_plan.field_name }}
      </div>
      <div class="form-group">
        <label for="{{ form_plan.another_field.id_for_label }}">Поле 2</label>
        {{ form_plan.another_field }}
      </div>
      <button type="submit" name="submit_plan_period" class="submit-button">Сохранить</button>
    </form>

    <h2>Задать время для смены</h2>
    <form method="post" class="settings-form">
      {% csrf_token %}
      <div class="form-group">
        <label for="{{ form_time.start_time.id_for_label }}">Начало смены</label>
        {{ form_time.start_time }}
      </div>
      <div class="form-group">
        <label for="{{ form_time.end_time.id_for_label }}">Конец смены</label>
        {{ form_time.end_time }}
      </div>
      <button type="submit" name="submit_time_period" class="submit-button">Сохранить</button>
    </form>
  </div>
</div>
{% endblock %}