{% extends "cars/base.html" %}

{% load static %}

{% block content %}
{% include 'includes/sidebar.html' %}
<div class="app-content">
  <div class="app-content-header">
    <h1 class="app-content-headerText">НАСТРОЙКИ</h1>
    <button class="mode-switch" title="Switch Theme">
      <svg class="moon" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" width="24" height="24" viewBox="0 0 24 24">
        <defs></defs>
        <path d="M21 12.79A9 9 0 1111.21 3 7 7 0 0021 12.79z"></path>
      </svg>
    </button>
  </div>
  {% include 'includes/filter_actions.html' %}
  <div class="settings_field">
    <div>
      <h2>Установить план</h2>
      <form method="post" class="settings-form">
        {% csrf_token %}
        <div class="form-group">
          <label>План по рейсам</label>
          {{ form_plan.plan_reisov }}
        </div>
        <div class="form-group">
          <label>План по весу (тонны)</label>
          {{ form_plan.plan_ves_za_period }}
        </div>
        <button type="submit" name="submit_plan_period" class="submit-button">Сохранить</button>
      </form>
    </div>
    <div class="">
      <h2>Первая смена</h2>
      <form method="post" class="settings-form">
        {% csrf_token %}
        <div class="form-group">
          {{ form_smena_one.start }}
        </div>
        <div class="form-group">
            {{ form_smena_one.end }}
        </div>
        <button type="submit" name="submit_smena_one" class="submit-button">Сохранить</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}